# TUTORIAL DE SQLITE NO CONTEXTO DO SPREADMART ORÇAMENTÁRIO

## TO DO
1. Clausulas SQL para somente criar ou deletar tabelas caso não já exisitam
1. Tratamento de erros e exceções para quando não for possível criar ou conectar na base de dados, criar ou deletar tabelas e etc.
1.

## Imports

In [4]:
import pandas as pd
import glob
import time
import sqlite3
import os

## Constants

In [5]:
DB_NAME = 'database/dadosmg.db'
CSV_PATH = 'datasets\\'

## Criar e conectar a uma base de dados persistente (em disco)

In [35]:
con = sqlite3.connect(DB_NAME)

cur = con.cursor() #cursor para realizar consultas (mais otimizado que usar con)

## Mostrar todas as tabelas de uma database

In [39]:
cur.execute("""SELECT name FROM sqlite_master WHERE type='table';""")
cur.fetchall()

[('dm_acao',),
 ('dm_categ_econ',),
 ('dm_elemento_desp',),
 ('dm_empenho_desp_2002',),
 ('dm_empenho_desp_2003',),
 ('dm_empenho_desp_2004',),
 ('dm_empenho_desp_2005',),
 ('dm_empenho_desp_2006',),
 ('dm_empenho_desp',)]

## Apagar todas as tabelas caso existam

In [38]:
cur.execute("""SELECT name FROM sqlite_master WHERE type='table';""")
res = cur.fetchall()

if res:
    for table_name in res:
        cur.execute(f"""DROP TABLE {table_name[0]} """)
        print(f"Tabela {table_name} apagada.")
else:
    print(f"Não há tabelas em {DB_NAME}")

OperationalError: database is locked

## Carregar arquivos CSV para tabelas com mesmo nome

In [10]:
file_paths = [i.replace('\\', '/') for i in list(glob.iglob(f'{CSV_PATH}*.csv'))]



for file in file_paths:
    _ , tail = os.path.split(file)
    table_name , file_extension = os.path.splitext(tail)
    #print(file)

    df = pd.read_csv(file, delimiter=';', decimal=',')
    df.to_sql(table_name, con, if_exists='replace', index=False) # if_exists{‘fail’, ‘replace’, ‘append’}, default ‘fail’
    print(f"Arquivo {file} carregado para tabela {table_name}")
     
con.commit()

Arquivo datasets/dm_acao.csv carregado para tabela dm_acao
Arquivo datasets/dm_categ_econ.csv carregado para tabela dm_categ_econ
Arquivo datasets/dm_elemento_desp.csv carregado para tabela dm_elemento_desp
Arquivo datasets/dm_empenho_desp_2002.csv carregado para tabela dm_empenho_desp_2002
Arquivo datasets/dm_empenho_desp_2003.csv carregado para tabela dm_empenho_desp_2003
Arquivo datasets/dm_empenho_desp_2004.csv carregado para tabela dm_empenho_desp_2004
Arquivo datasets/dm_empenho_desp_2005.csv carregado para tabela dm_empenho_desp_2005
Arquivo datasets/dm_empenho_desp_2006.csv carregado para tabela dm_empenho_desp_2006

## Mostrar todas a tabelas de uma Database

In [15]:
cur.execute("""SELECT name FROM sqlite_master WHERE type='table';""")
res = cur.fetchall()

if res:
    print(res)
else:
    print(f"Não há tabelas na database {DB_NAME}")

[('dm_acao',), ('dm_categ_econ',), ('dm_elemento_desp',), ('dm_empenho_desp_2002',), ('dm_empenho_desp_2003',), ('dm_empenho_desp_2004',), ('dm_empenho_desp_2005',), ('dm_empenho_desp_2006',)]

In [30]:
tbl_agg_name = 'dm_empenho_desp'
df_agg = pd.DataFrame()
num_linhas = 0

file_paths = [i.replace('\\', '/') for i in list(glob.iglob(f'{CSV_PATH}dm_empenho_desp_*.csv'))]
file_paths

#temp_csv = con.execute(f"""SELECT * FROM '{file_paths[0]}' LIMIT 10 """)

# cria lista contendo nomes e tipos das colunas lidas em temp_csv
#table_columns = [str(temp_csv.columns[i] + ' ' + temp_csv.dtypes[i]) for i in range(len(temp_csv.columns))]

# Concatena lista de strings em uma string somente para uso na criação da tabela nova.
#table_columns = ', '.join(table_columns)


#con.execute(f"""CREATE TABLE '{tbl_agg_name}' AS SELECT * FROM df_agg """) 

for file in file_paths:
    _ , tail = os.path.split(file)
    table_name , file_extension = os.path.splitext(tail)   
    print(f'Lendo:', file)
    
    df = pd.read_csv(file, delimiter=';', decimal=',')
    df.to_sql(tbl_agg_name, con, if_exists='append', index=False) # if_exists{‘fail’, ‘replace’, ‘append’}, default ‘fail’
    
    num_linhas += len(df)
    print(f"Arquivo {file} concatenado na tabela {tbl_agg_name}\n
      


con.commit()

Lendo: datasets/dm_empenho_desp_2002.csv
Arquivo datasets/dm_empenho_desp_2002.csv concatenado na tabela dm_empenho_desp
Lendo: datasets/dm_empenho_desp_2003.csv
Arquivo datasets/dm_empenho_desp_2003.csv concatenado na tabela dm_empenho_desp
Lendo: datasets/dm_empenho_desp_2004.csv
Arquivo datasets/dm_empenho_desp_2004.csv concatenado na tabela dm_empenho_desp
Lendo: datasets/dm_empenho_desp_2005.csv
Arquivo datasets/dm_empenho_desp_2005.csv concatenado na tabela dm_empenho_desp
Lendo: datasets/dm_empenho_desp_2006.csv
Arquivo datasets/dm_empenho_desp_2006.csv concatenado na tabela dm_empenho_desp

## Fecha conexção com base de dados

In [ ]:
con.close()